.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-wrapper {
  width: 100%;
}

.search-form {
  width: 90%;
  max-width: 500px;
  margin: 5% auto;
  position: relative;
  display: flex;
  align-items: center;
  transition: transform ease 350ms;
}
.search-form:hover,
.search-form:focus {
  transform: scale(1.05);
  outline: none;
}

.search-form__input {
  display: block;
  border: 1px solid var(--main-text-color);
  width: 100%;
  height: 100%;
  padding: 0.5em 5em 0.5em 1.5em;
  font-size: 1rem;
  box-sizing: border-box;
  color: #7e7e7e;
  line-height: 1.5;
}

.search-form__input:hover,
.search-form__input:focus {
  outline: 2px solid var(--main-focus-outline);
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-form__input::placeholder {
  color: var(--main-text-color);
}

.button-wrapper {
  position: absolute;
  display: inline-flex;
  align-items: center;
  right: 1px;
  height: 100%;
}
.search-form__search-icon {
  min-width: 1.2rem;
  width: 70%;
  fill: var(--main-text-color);
}

.search-form__button {
  height: 100%;
}

.search-form__button--clear {
  position: relative;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 160ms;
  margin-right: 0.3em;
}

.search-form__button--clear::after,
.search-form__button--clear::before {
  content: "";
  position: absolute;
  max-width: 2px;
  width: 0.08em;
  height: 1em;
  background-color: var(--main-text-color);
  transform: rotate(-45deg);
  top: 0.5em;
  left: 1em;
}

.search-form__button--clear::after {
  transform: rotate(45deg);
}

.search-form__button--clear:hover,
.search-form__button--clear:focus {
  background-color: #e2e2e2;
}

.search-form__button--clear:focus,
.search-form__button--search:focus {
  outline: none;
}

.search-form__button--search {
  background-color: transparent;
  width: 2.5em;
  border: 0;
  cursor: pointer;
  transition: background-color 160ms;
}

.search-form__button--search:focus,
.search-form__button--search:hover {
  background-color: var(--main-focus-outline);
}

.search-form__button--search:hover .search-form__search-icon,
.search-form__button--search:focus .search-form__search-icon {
  fill: #ffffff;
}
