.search-suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  box-sizing: border-box;
}
.search-suggestions__item--term {
  font-weight: 600;
  color: #000000;
}
.search-suggestions__item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 0.5em 5em 0.5em 1.5em;
}

.search-suggestions__item:hover {
  background-color: var(--focus-background-color);
  cursor: pointer;
}
.search-suggestions__item:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
  background-color: var(--focus-background-color);
}
.search-suggestions__item--highlight {
  font-weight: 300;
}
