:root {
  font-family: -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  --main-text-color: #6d6b6b;
  --main-focus-outline: #3e3e3e;
  --main-background-color: #ffffff;
  --focus-background-color: #f7f7f7;
  color: var(--main-text-color);
}

::before,
::after {
  box-sizing: inherit;
}
